@using BlazeJump.Common.Data;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Pages;
@using BlazeJump.Common.Pages.Components
@using BlazeJump.Common.Services.Database;
@using BlazeJump.Common.Services.Notification;
@inherits LayoutComponentBase
@inject IBlazeDbService DbService;
@inject INotificationService NotificationService;
@inject NavigationManager NavigationManager;

<Loading></Loading>
<nav class="primary-nav">
	<div class="primary-nav-left">
		<h1>@UniqueName</h1>
	</div>
	<div class="primary-nav-right">
		<nav class="horizontal-scroll-menu">
			<ul>
				@foreach (var menuItem in MainMenu)
				{
					<li><NavLink href="@menuItem.LinkRoute">@menuItem.Title</NavLink></li>
				}
				<li><LoginLink /></li>
			</ul>
		</nav>
	</div>
</nav>
<div class="background-container">
	<div class="content-container">
		@Body
	</div>
</div>

@code {
	public string? UniqueName { get; set; }
	protected override void OnInitialized()
	{
		NotificationService.DeepLinkReceived += RouteDeepLink;
		if (!string.IsNullOrEmpty(NotificationService.PreviousDeepLink))
		{
			RouteDeepLink(null, new() { Data = NotificationService.PreviousDeepLink });
		}
	}
	public void RouteDeepLink(object? sender, DeepLinkReceivedEventArgs e)
	{
		var uri = new Uri(e.Data);
		var pubKey = uri.Host;
		var relay = uri.Query;
		NavigationManager.NavigateTo($"Login/{pubKey}/{relay}");
	}
	public List<MenuItem> MainMenu = new List<MenuItem>
	{
		new MenuItem { Title = "Home", LinkRoute = "" },
		new MenuItem { Title = "Relays", LinkRoute = "relays" },
		new MenuItem { Title = "Profile", LinkRoute = "profile" }
	};
}