@using BlazeJump.Common.Models;
@using BlazeJump.Common.Pages;
@using BlazeJump.Common.Pages.Components
@using BlazeJump.Common.Services.Identity;
@using BlazeJump.Common.Enums;
@using System.Web;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
@inject IIdentityService _identityService;

<Loading></Loading>
<nav class="primary-nav">
	<div class="primary-nav-left">
		<h1>@UniqueName</h1>
	</div>
	<div class="primary-nav-right">
		<nav class="horizontal-scroll-menu">
			<ul>
				@foreach (var menuItem in MainMenu)
				{
					<li><NavLink href="@menuItem.LinkRoute">@menuItem.Title</NavLink></li>
				}
				@if (_identityService.Platform == PlatformEnum.Web)
				{
					<li><LoginLink /></li>
				}
				else
				{
					<li><NavLink href="connect">QR Connect</NavLink></li>
				}
			</ul>
		</nav>
	</div>
</nav>

@Body


@code {
	public string? UniqueName { get; set; }
	protected override void OnInitialized()
	{
	}
	public List<MenuItem> MainMenu = new List<MenuItem>
	{
		new MenuItem { Title = "Home", LinkRoute = "" },
		new MenuItem { Title = "Relays", LinkRoute = "relays" },
		new MenuItem { Title = "Profile", LinkRoute = "profile" }
	};
}