section {
    background-size: cover;
    background-position: center;
}

//card
.card {
    display: grid;
    @include responsive-grid-gap;
}
.card-message {
    grid-template-columns: min-content auto;
}
.card-message-quote {
    grid-template-columns: min-content auto;
    border: 1px solid grey;
    .profile-picture {
        width: 3vw;
        height: 3vw;
    }
    font-size: calc($base-font-size * 0.5);
    @include responsive-content-padding;
}

.profile-picture {
    width: calc(50px + 2vw);
    height: calc(50px + 2vw);
    border-radius: 50%;
    border: 5px solid white;
    background-size: cover;
    background-position: center;
}

//video player
.video-player {
    width: 100%;
    min-height: 350px;
}

//Profile header

.profile-header {
    .profile-picture {
        width: calc(140px + 3vw);
        height: calc(140px + 3vw);
    }
    text-align: center;
}

.name-bio-band {
    backdrop-filter: blur(10px);
    background-color: rgba(black, 0.5);
    @include responsive-content-padding;
}
.profile-pic-band {
    display: grid;
    justify-content: center;
    @include responsive-content-padding;
}

//grid
.card-row {
    display: grid;
    @include responsive-grid-gap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}