section {
    background-size: cover;
    background-position: center;
}

//card
.card {
    display: grid;
    @include responsive-grid-gap;
}
.card-message {
    grid-template-columns: min-content auto;
}

.profile-header {
    padding-top: calc(4rem + 3vw) !important;

    img {
        width: calc(140px + 3vw);
        height: calc(140px + 3vw);
        border-radius: 50%;
        background-size: cover;
        margin-top: calc(((140px + 3vw)/2)*-1);
        border: 5px solid white;
    }

    justify-items: center;
    text-align: center;
}

.profile-picture img {
    width: calc(50px + 2vw);
    height: calc(50px + 2vw);
    border-radius: 50%;
    border: 5px solid white;
}

.profile-name-bio {
    background-color: rgba(black, 0.5);
    width: 100%;
    @include responsive-content-padding;
    backdrop-filter: blur(10px);
}
//video player
.video-player {
    width: 100%;
    min-height: 350px;
}