nav.primary-nav {
    padding: 0rem 1rem;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    text-transform: capitalize;
    align-items: center;
    border-bottom: 1px solid rgba(white, 0.5);
}
nav.horizontal-scroll-menu {
    background-color: rgba(0,0,0,0.2);
    font-family: Arsenal;

    ul {
        background-color: rgba(0,0,0,0.5);
        margin: 0px;
        padding: 0px;

        li {
            display: inline;
            float: left;
            margin: 0px;

            a {
                cursor: pointer;
                display: block;
                @include responsive-navlink-padding;
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

            a.active {
                background-color: black;
            }
        }
    }
}

