@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Helpers;
@inject IMessageService MessageService
@inject NavigationManager NavManager

<section class="profile-header full-width-section" style="background-image: url('@($"{User.Banner}")')">
	<article class="profile-pic-band">
		<img src="@($"{User.ProfilePic ?? $"images/profilepics/{new Random().Next(1, 18)}.png"}")" alt="profile picture">
	</article>
	<article class="name-bio-band">
		<a href="user/@(User.Id)"><h2>@(User.Username ?? $"{User.Id.Substring(0, 10)}...")</h2></a>
		<p>@(User.Bio)</p>
	</article>
</section>


@code {
	[Parameter]
	public User User { get; set; }
}