@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Helpers;
@inject IMessageService MessageService
@inject NavigationManager NavManager

<section style="background-image: url('@($"{User.Banner}")')">
	<article class="card profile-header">
		<img src="@($"{User.ProfilePic ?? $"images/profilepics/{new Random().Next(1, 18)}.png"}")" alt="profile picture">
		<a href="user/@(User.Id)"><h1>@(User.Username ?? $"{User.Id.Substring(0, 10)}...")</h1></a>
		<h2>@(User.Bio)</h2>
	</article>
</section>

@code {
	[Parameter]
	public User User { get; set; }
}