//Base sizing
$base-font-size: 12px;

//Viewport sizing
$mobile-screen-size: 320px;
$large-mobile-screen-size: 481px;
$tablet-screen-size: 769px;
$desktop-screen-size: 1025px;
$large-desktop-screen-size: 1201px;

//Default border radius
$default-border-radius: 0.5rem;

//Default grid settings
$base-spacing: 1rem;

