//responsive mixins

@mixin display-on-large-mobile-upwards {
	@media only screen and (max-width: $large-mobile-screen-size) {
		display: none;
	}
}

@mixin display-on-tablet-upwards {
	@media only screen and (max-width: $tablet-screen-size) {
		display: none;
	}
}

@mixin display-on-desktop-upwards {
	@media only screen and (max-width: $desktop-screen-size) {
		display: none;
	}
}

@mixin display-on-mobile-downwards {
	@media only screen and (min-width: $large-mobile-screen-size) {
		display: none;
	}
}

@mixin display-on-large-mobile-downwards {
	@media only screen and (min-width: $tablet-screen-size) {
		display: none;
	}
}

@mixin display-on-tablet-downwards {
	@media only screen and (min-width: $desktop-screen-size) {
		display: none;
	}
}

@mixin display-on-desktop-downwards {
	@media only screen and (min-width: $large-desktop-screen-size) {
		display: none;
	}
}

//Spacings

@mixin responsive-grid-gap {
	grid-gap: $base-spacing;

	@media only screen and (min-width: $large-mobile-screen-size) {
		grid-gap: $base-spacing*0.6;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		grid-gap: $base-spacing*0.8;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		grid-gap: $base-spacing*1;
	}
}

@mixin responsive-content-padding {
	padding: $base-spacing;

	@media only screen and (min-width: $large-mobile-screen-size) {
		padding: $base-spacing*1.2;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		padding: $base-spacing*1.4;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		padding: $base-spacing*1.6;
	}
}

@mixin responsive-navlink-padding {
	$base-spacing-navlink: $base-spacing/2;

	padding: $base-spacing-navlink $base-spacing;

	@media only screen and (min-width: $large-mobile-screen-size) {
		padding: $base-spacing-navlink*1.2 $base-spacing*1.2;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		padding: $base-spacing-navlink*1.4 $base-spacing*1.4;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		padding: $base-spacing-navlink*1.6 $base-spacing*1.6;
	}
}

@mixin responsive-text-block-padding {
	padding: 0 1.5rem;

	@media only screen and (min-width: $large-mobile-screen-size) {
		padding: 0 1.5rem;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		padding: 0 1.5rem;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		padding: 0 1.5rem;
	}
}

@mixin responsive-max-width {

	@media only screen and (min-width: $large-mobile-screen-size) {
		max-width: 700px;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		max-width: 800px;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		max-width: 900px;
	}

	@media only screen and (min-width: $large-desktop-screen-size) {
		max-width: 1000px;
	}
}

.hide-on-mobile {
	@include display-on-tablet-upwards;
}

//Funky meshed backgrounds

@mixin blues-and-purples-meshed-background {
	background-color:hsla(237,100%,50%,1);
	background-image: radial-gradient(at 55% 68%, hsla(228,40%,83%,1) 0px, transparent 50%), 
		radial-gradient(at 38% 31%, hsla(191,100%,50%,0.84) 0px, transparent 50%), 
		radial-gradient(at 24% 60%, hsla(310,95%,60%,1) 0px, transparent 50%), 
		radial-gradient(at 67% 41%, hsla(304,95%,62%,1) 0px, transparent 50%), 
		radial-gradient(at 0% 100%, hsla(254,0%,73%,1) 0px, transparent 50%), 
		radial-gradient(at 80% 100%, hsla(201,57%,76%,1) 0px, transparent 50%), 
		radial-gradient(at 15% 20%, hsla(258,100%,11%,1) 0px, transparent 50%);
}

//grid mixin

@mixin default-row-grid {
	display: grid;
	grid-template-rows: repeat(auto);
	justify-items: stretch;
}

@mixin fullwidth-centred-content {
	display: grid;
	justify-items: center;
	& > * {
		@include responsive-max-width;
		width: 100%;
	}
}