//responsive mixins

@mixin display-on-large-mobile-upwards {
	@media only screen and (max-width: $large-mobile-screen-size) {
		display: none;
	}
}

@mixin display-on-tablet-upwards {
	@media only screen and (max-width: $tablet-screen-size) {
		display: none;
	}
}

@mixin display-on-desktop-upwards {
	@media only screen and (max-width: $desktop-screen-size) {
		display: none;
	}
}

@mixin display-on-mobile-downwards {
	@media only screen and (min-width: $large-mobile-screen-size) {
		display: none;
	}
}

@mixin display-on-large-mobile-downwards {
	@media only screen and (min-width: $tablet-screen-size) {
		display: none;
	}
}

@mixin display-on-tablet-downwards {
	@media only screen and (min-width: $desktop-screen-size) {
		display: none;
	}
}

@mixin display-on-desktop-downwards {
	@media only screen and (min-width: $large-desktop-screen-size) {
		display: none;
	}
}

//Spacings

@mixin responsive-grid-gap {
	grid-gap: calc(0.5rem + 0.5vw);
}

@mixin responsive-content-padding {
	padding: calc(0.5rem + 0.5vw);
}

@mixin responsive-navlink-padding {
	$base-spacing-navlink: $base-spacing/2;

	padding: $base-spacing-navlink $base-spacing;

	@media only screen and (min-width: $large-mobile-screen-size) {
		padding: $base-spacing-navlink*1.2 $base-spacing*1.2;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		padding: $base-spacing-navlink*1.4 $base-spacing*1.4;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		padding: $base-spacing-navlink*1.6 $base-spacing*1.6;
	}
}

@mixin responsive-text-block-padding {
	padding: 0 1.5rem;

	@media only screen and (min-width: $large-mobile-screen-size) {
		padding: 0 1.5rem;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		padding: 0 1.5rem;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		padding: 0 1.5rem;
	}
}

@mixin responsive-max-width {

	@media only screen and (min-width: $large-mobile-screen-size) {
		max-width: 700px;
	}

	@media only screen and (min-width: $tablet-screen-size) {
		max-width: 800px;
	}

	@media only screen and (min-width: $desktop-screen-size) {
		max-width: 900px;
	}

	@media only screen and (min-width: $large-desktop-screen-size) {
		max-width: 1000px;
	}
}

.hide-on-mobile {
	@include display-on-tablet-upwards;
}

//grid mixin

@mixin default-row-grid {
	display: grid;
	grid-template-rows: repeat(auto);
	justify-items: stretch;
}

@mixin fullwidth-centred-content {
	display: grid;
	justify-items: center;
	& > * {
		@include responsive-max-width;
		width: 100%;
	}
}