//Base font sizing

html {
    color: $text-colour;
}

h1 {
    font-size: calc(2.6rem + 0.5vw);
}
h2 {
    font-size: calc(1.8rem + 0.5vw);
}
h3 {
    font-size: calc(1.1rem + 0.5vw);
}
h4 {
    font-size: calc(0.6rem + 0.5vw);
}
h5 {
    font-size: calc(0.4rem + 0.5vw);
}
h6 {
    font-size: calc(0.2rem + 0.5vw);
}
p {
    font-size: calc(0.9rem + 0.5vw);
}

nav.primary-nav {
    font-size: calc(1.1rem + 0.5vw);
}


//Base fonts

@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Arsenal';
    src: url('/css/fonts/arsenal/Arsenal-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arsenal';
    color: $text-colour;
}

p {
    color: $text-colour;
    font-family: 'Open Sans';
}

a:link {
    color: $accent-colour;
    text-decoration: none;
    -webkit-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
}
a:visited {
    color: $accent-colour;
}

a:hover {
    text-decoration: underline;
}

.subtle-info-line {
    color: rgba($text-colour, 0.6);
    font-size: calc(0.7rem + 0.5vw);
}
.stats-line {
    font-size: calc(0.7rem + 0.5vw);
}

.info-message {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
}
