//Base font sizing

html {
    color: $text-colour;
}

$base-dimension: 0.5vw;
$base-modifier: 0.9rem;
$featured-modifier: 1.2;

$h1-size: calc($base-modifier*2.9 + $base-dimension);
$h2-size: calc($base-modifier*2.0 + $base-dimension);
$h3-size: calc($base-modifier*1.2 + $base-dimension);
$h4-size: calc($base-modifier*0.7 + $base-dimension);
$h5-size: calc($base-modifier*0.5 + $base-dimension);
$h6-size: calc($base-modifier*0.2 + $base-dimension);
$p-size: calc($base-modifier + $base-dimension);

h1 {
    font-size: $h1-size;
}
h2 {
    font-size: $h2-size;
}
h3 {
    font-size: $h3-size;
}
h4 {
    font-size: $h4-size;
}
h5 {
    font-size: $h5-size;
}
h6 {
    font-size: $h6-size;
}
p {
    font-size: $p-size;
}

.featured{
    h1 {
        font-size: $h1-size * $featured-modifier;
    }
    h2 {
        font-size: $h2-size * $featured-modifier;
    }
    h3 {
        font-size: $h3-size * $featured-modifier;
    }
    h4 {
        font-size: $h4-size * $featured-modifier;
    }
    h5 {
        font-size: $h5-size * $featured-modifier;
    }
    h6 {
        font-size: $h6-size * $featured-modifier;
    }
    p {
        font-size: $p-size * $featured-modifier;
    }
}

nav.primary-nav {
    font-size: $h3-size;
}


//Base fonts

@font-face {
    font-family: 'Open Sans';
    src: url('/css/fonts/open-sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Arsenal';
    src: url('/css/fonts/arsenal/Arsenal-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arsenal';
    color: $text-colour;
}

p {
    color: $text-colour;
    font-family: 'Open Sans';
}

a:link {
    color: $accent-colour;
    text-decoration: none;
    -webkit-transition: ease-in 0.2s;
    -o-transition: ease-in 0.2s;
    transition: ease-in 0.2s;
}
a:visited {
    color: $accent-colour;
}

a:hover {
    text-decoration: underline;
}

.subtle-info-line {
    color: rgba($text-colour, 0.6);
    font-size: calc(0.7rem + 0.5vw);
}
.stats-line {
    font-size: calc(0.7rem + 0.5vw);
}

.info-message {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
}
