// Fonts
$sansSerif  : 'Arial';

// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;

// Colors
$backgroundcolour : #210664;
$foregroundcolour: #dacbff;
$linkcolour: #00c1ff;

// Spacing
$pad : 1em;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;