// Container styles
.container {
    display: grid;
    grid-gap: 0.8rem;
    padding: 0.8rem;
    background-color: rgba($backgroundcolour, 0.9);
    grid-template-rows: minmax(200px fit-content) auto;
}

.top-bar {
    .logo{
        width: 150px;
    }
}

.main {
    display: grid;
    grid-gap: 0.8rem;
}

@media screen and (min-width: 30em) {
    .main {
        grid-template-columns: 200px auto;
    }
    .top-bar {
        .logo {
            width: 200px;
        }
    }
}

.discussion-pane {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-rows: repeat(auto);
}
