html {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    padding: 0;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-container {
    background-attachment: fixed;
    background-size: 100vw 100vh;
    @include blues-and-purples-meshed-background;
}

.content-container {
    @include default-row-grid;

    & > section, & > nav {
        @include fullwidth-centred-content;

        & > article, & > ul {
            @include responsive-content-padding;
        }
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}