// Container styles
.nav-left {
    display: none;
}

@media screen and (min-width: 30em) {
    .nav-left {
        display: block;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 1.5rem;
            }
        }
    }
}