html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    background-color: $backgroundcolour;
}

.box {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: rgba($foregroundcolour, 0.1);
}

@keyframes loadingbganimation {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-animation-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-animation {
    width: 300px;
    height: 200px;
    background-image: url('../images/layout/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation: loadingbganimation 20s infinite;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}