@page "/"
@page "/{PageType}/{Hex}"
@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Pages.Components
@using BlazeJump.Common.Services.Connections;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Crypto;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Common.Services.Notification;
@using BlazeJump.Common.Services.UserProfile;
@using System.Text.Json
@inject IRelayManager RelayManager
@inject IMessageService MessageService
@inject ICryptoService CryptoService
@inject INotificationService NotificationService;

<div class="background-container">
	<div class="content-container">
		@if (PageTypeParsed != null
				&& Hex != null
				&& MessageService.MessageStore.TryGetValue(Hex, out var featuredMessage)
				&& featuredMessage != null)
		{
			@if (PageTypeParsed == PageTypeEnum.User)
			{
				<UserCard User=featuredMessage!.Event!.User!></UserCard>
			}
			@foreach (var messageBucket in MessageService.TopLevelFetchRegister)
			{
				@foreach (var eventId in messageBucket.Value)
				{
					@if (MessageService.MessageStore.TryGetValue(eventId, out var message))
					{
						<MessageCard Message=message></MessageCard>
					}
				}
			}
			@if (PageTypeParsed.Value == PageTypeEnum.User)
			{
				<Card>
					<a @onclick="() => _ = MessageService.FetchPage(Hex, PageTypeEnum.User, false)">Load more</a>
				</Card>
			}
		}
		@if (Hex == null)
		{
			<Card>
				<p>Nothing to see here. Click <NavLink href="user/82341f882b6eabcd2ba7f1ef90aad961cf074af15b9ef44a09f9d2a8fbfbe6a2">here</NavLink> for Jack Dorsey's profile.</p>
			</Card>
		}
	</div>
</div>

