@page "/"
@page "/{PageType}/{Hex}"
@using BlazeJump.Common.Enums;
@using BlazeJump.Common.Pages.Components
@using BlazeJump.Common.Services.Connections;
@using BlazeJump.Common.Models;
@using BlazeJump.Common.Services.Crypto;
@using BlazeJump.Common.Services.Message;
@using BlazeJump.Common.Services.Notification;
@using BlazeJump.Common.Services.UserProfile;
@using System.Text.Json
@inject IRelayManager RelayManager
@inject IMessageService MessageService
@inject ICryptoService CryptoService
@inject INotificationService NotificationService;

<div class="background-container">
	<div class="content-container">
		@if (PageTypeParsed != null 
		&& PageTypeParsed == PageTypeEnum.User 
		&& Hex != null
		&& MessageService.UserStore.TryGetValue(Hex, out var user)
		&& user != null)
		{
				<UserCard User=user></UserCard>
		}
		@foreach (var subscriptionId in MessageBuckets.Keys)
		{
			@if(MessageService.SubscriptionIdToEventIdList.TryGetValue(subscriptionId, out var messageIds) 
			&& messageIds.Count > 0)
			{
				@foreach (var message in messageIds.Select(i => MessageService.MessageStore[i]))
				{
					<MessageCard Message=message></MessageCard>
				}
			}
		}
		@if (MessageService.SubscriptionIdToEventIdList.TryGetValue(MessageBuckets.Keys.LastOrDefault() ?? "", out var messageIdsForLoad) && messageIdsForLoad.Count >= 5)
		{
			<Card>
				<a @onclick="() => Load()">Load more</a>
			</Card>
		})
		@if (Hex == null)
		{
			<Card>
				<p>Nothing to see here. Click <NavLink href="user/82341f882b6eabcd2ba7f1ef90aad961cf074af15b9ef44a09f9d2a8fbfbe6a2">here</NavLink> for Jack Dorsey's profile.</p>
			</Card>
		}		
	</div>
</div>

