@using BlazeJump.Client.Data;
@using BlazeJump.Client.Models;
@using BlazeJump.Client.Services.Database;
@inherits LayoutComponentBase
@inject IBlazeDbService DbService;

<nav class="primary-nav">
	<div class="primary-nav-left">
		<h1>@UniqueName</h1>
	</div>
	<div class="primary-nav-right">
		<nav class="horizontal-scroll-menu">
			<ul>
				@foreach (var menuItem in MainMenu)
				{
					<li><NavLink href="@menuItem.LinkRoute">@menuItem.Title</NavLink></li>
				}
			</ul>
		</nav>
		<LoginDisplay />
	</div>
</nav>
<div class="background-container" style="@_backgroundMeshCss">
	@Body
</div>

@code {
	public string? UniqueName { get; set; }
	private string _backgroundMeshCss { get; set; } = string.Empty;
	public List<MenuItem> MainMenu = new List<MenuItem>
	{
		new MenuItem { Title = "Home", LinkRoute = "" },
		new MenuItem { Title = "Relays", LinkRoute = "relays" },
		new MenuItem { Title = "Profile", LinkRoute = "profile" }
	};
	protected override async void OnInitialized()
	{
		await DbService.InitDatabaseAsync();
	}
}